<h2>
    {{ nombre_componente }}
</h2>
Empleado:
<ul>
    <li>
        {{emp.nombre}}
    </li>
    <li>
        {{emp.edad}}
    </li>
    <li *ngIf="emp.esHombre == true">
            Hombre
    </li>
    <li *ngIf="emp.esHombre == false">
        Mujer
    </li>
</ul>
Listado de Empleados:
<ul>
    <li *ngFor="let item of listadoEmpleados; let i = index">
        Empleado {{i+1}}:
        <ul [ngSwitch]="item.colorOjos"> <!-- Esta directiva siempre va entre corchetes y se le indica una propiedad -->
            <li>
                {{item.nombre}}
            </li>
            <li>
                {{item.edad}}
            </li>
            <li *ngIf="item.esHombre == true">
                Hombre
            </li>
            <li *ngIf="item.esHombre == false">
                Mujer
            </li>
            <!-- La directiva *ngSwitchCase siempre inici[a con * esto hace que se muestre o no cierta parte del html
            La directiva [ngStyle] siempre va entre [], todo dentro del estilo va entre '' excepto las propiedades como en este caso item.colorOjos -->
            <li *ngSwitchCase="'blue'" [ngStyle]="{'background': item.colorOjos, 'color': 'white' }"> 
                Color Ojos
            </li>
            <li *ngSwitchCase="'black'" [ngStyle]="{'background' :item.colorOjos, 'color': 'white' }">
                Color Ojos
            </li>
        </ul>   
    </li>
</ul>

<!-- prueba de ngStyle en divs -->

<div [ngSwitch]="value">
    <!-- El número no va entre comillas por ser número, si fuera texto tendría que ir entre comillas -->
    <div *ngSwitchCase="1">
            Es 1
    </div>
    <div *ngSwitchCase="2">
        Es 2
    </div>
</div>
