<h1>
  {{ title }}
</h1>
<hr>
<!-- <div *ngIf="componente == true">
  <button (click)="cambiarComponente(false)">Cambiar de Componente (a Fruta)</button>
  <empleado></empleado>
</div>

<div *ngIf="componente == false">
  <button (click)="cambiarComponente(true)">Cambiar de Componente (a Empleado)</button>
  <fruta></fruta>
</div> -->
<nav>
  <a [routerLink]="['/inicio']" [routerLinkActive]="['activado']">Inicio</a>-
  <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleado</a>-
  <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Fruta</a>-
  <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a>
</nav>
<router-outlet></router-outlet>